body{
    background-color: grey;
    font-size: 19px;
    color: brown;
    font-family: "Jacquard 12", system-ui;
}

h1{
    color:#a5bd08;

}

h2{
    color:darkgreen;

}

#titulo-cert{
    color:rgb(81, 8, 8);
}

.estilo-seccion{
    background-color: beige;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
    border: 3px black solid;
}

.estilo-seccion ul li{
    list-style: none;
}

img{
    vertical-align: middle;
}



